/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    position: fixed; /* Sit on top of the screen */
    z-index: 999; /* Add a z-index if needed */
    bottom: 15px; /* 30px from the bottom */
	width:100%;
	opacity:1;
}
.triangle{
	-webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
	clip-path: polygon(50% 100%, 0 0, 100% 0);
	background-color:rgb(211, 211, 211);

	}
.product{
	width:100px;
	border-color:white;
	border-width:2px;
	display: inline-block;
	padding-left:10px;
	padding-right:10px;
	background-color:rgb(211, 211, 211);
	cursor:pointer;
}
.openfood{
	cursor:pointer;

}
.box{
	min-width:400px;	
	height:auto;
	padding-bottom:10px;
	background-color:rgb(211, 211, 211);
	text-align:center;
	display: inline-block;
	margin:0 auto;
	border-radius:10px;
}
.detail{	
	margin:0 auto;
	max-width:1000px;
	background-color:white;
	padding-top:5px;
	padding-bottom:10px;
	text-align:left;
	border-top-color:rgb(105,105,105);
	border-top-style:solid;
	border-top-width:5px;	
	
}
.title{
	text-align:center;
	width:100%;
	font-size:20px;
	border-bottom-color:grey;
	border-bottom-style:solid;
	border-bottom-width:1px;
	

}
.detailfooter{
width:100%;
background-color:rgb(105,105,105);
height:5px;

}
.nutriImg{
	height:100px;
	width:200px;
	display: inline-block;
	vertical-align: top; 

	
}
.nutriTaux{
	height:100px;
	min-width:140px;
	margin-top:2px;
	padding-left:5px;
	padding-right:5px;
	padding-top:10px;
	vertical-align: top; 
	display: inline-block;
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:grey;
}

.nutriAdditif{
	height:100px;
	
	min-width:140px;
	margin-top:2px;
	padding-left:5px;
	padding-top:10px;
	vertical-align: top; 
	display: inline-block;
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:grey;
}
.productBarCode{
	float:right;
	height:100px;
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:grey;
	vertical-align: top; 
	
}
#barcode{
	height:80%;
	width:80%;
	float:left;
}
.productImg{
	display:block;
	height:50%;
	margin-left: auto;
	margin-right: auto;
}
ul.driveOffUl{
	float:left;
	
	vertical-align: top; 
}


.pDescription{
	border-color:white;
	border-width:1px;
	border-style:solid;
	padding:2px;
	height:100px;
	background-image:url("https://static.openfoodfacts.org/images/products/20857554/front_fr.18.400.jpg") ;
	background-size:     contain;
    background-position: center;  
	background-repeat:   repeat;
}
.nutriTaux  li{
	margin-bottom:12px;
	font-size:12px;
	
	padding-left:12px;
	background-size: 10px 10px;
	background-repeat: no-repeat;
	background-position: left center;
}

.nutriAdditif li{
	margin-bottom:12px;
	font-size:12px;
	vertical-align: top; 
	padding-left:12px;
	background-size: 10px 10px;
	background-repeat: no-repeat;
	background-position: left center;
	margin-right:40px;
}

#spinner{
	font-size:12px;
	padding-top:10px;
}
.additiveInfo{
	font-size:12px;
}
li.moderate{
	background-image:url("https://static.openfoodfacts.org/images/misc/moderate.svg");
	


}
li.unknown{
	background-image:url('chrome-extension://__MSG_@@extension_id__/img/unknown.png');
}

li.low{
	background-image:url("https://static.openfoodfacts.org/images/misc/low.svg");

}
li.high{
	background-image:url("https://static.openfoodfacts.org/images/misc/high.svg");
}
.searchBar{
	width:100%;
	text-align:center;
	display: inline-block;
	padding-top:15px;
}
.searchIcon{
	background-image:url('chrome-extension://__MSG_@@extension_id__/img/search.png');
	height:20px;
	width:20px;
	background-size:     contain;
    background-position: center;  
	border-radius: 50%;
	background-color:white;
	display: inline-block;
	cursor:pointer;
	vertical-align:center;
}
.inputSearch{
	display: inline-block;
	vertical-align:center;

}
.inputSearch input{
	float:left;
	vertical-align:center;
	border-radius:5px;
	border-color:white;
	border-style:solid;
	margin-right: 5px;
	margin-left:5px;
	margin-top:2px;
	width:200px;
}
.closeIcon{
	background-image:url('chrome-extension://__MSG_@@extension_id__/img/close.png');
	height:20px;
	width:20px;
	background-size:     contain;
    background-position: center;  
	border-radius: 50%;
	background-color:white;
	float:left;
	cursor:pointer;
	padding-left:10px;
	vertical-align:center;
}
/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
   However, delay the fade out process for 2.5 seconds */
   -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
   animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}