.doffdebug .driveoff_list {
	border: 2px dashed green;
}
.doffdebug .driveoff_product,
.doffdebug .driveoff_list_product {
	border: 2px dashed blue;
}
.doffdebug .driveoff_name {
	border: 2px dashed purple;
}
.doffdebug .driveoff_base {
	border: 2px dashed red;
}

.driveoff_scores:not(:empty) {
	font-size: 3mm;
	display: grid;
	grid-template: auto auto / repeat(3, auto);
	justify-content: stretch;
	/* align-items: center;
	justify-items: stretch; */
	border: .25em solid hsl(0, 0%, 95%);
	border-radius: .25em;
	background-color: #fff;
	margin: 1em;
	padding: 0;
	box-shadow: .1em .1em .2em hsla(0, 0%, 0%, .35), inset .1em .1em .1em .05em hsl(0, 0%, 85%);
}
.driveoff_scores:not(:empty)::before {
	content: 'Open Food Facts';
	display: block;
	grid-column: 1 /4;
	grid-row: -2 / -1;
	font-size: .85em;
	font-weight: 500;
	font-family: sans-serif;
	padding: .5em .5em .1em 3em;
	background-color:  hsl(0, 0%, 95%);
	color: hsl(0, 0%, 40%);
	/* color: #fff;
	text-shadow: .1em .1em .1em red; */
	background-image: url('https://static.openfoodfacts.org/images/favicon/favicon.ico');
	background-size: 1.5em;
	background-repeat: no-repeat;
	background-position: .75em center;
	border-radius: .25em .25em 0 0;
} 
.driveoff_scores img {
	width: 100%;
	max-height: 5em;
	max-width: calc(100% - 1em);
	object-fit: contain;
	margin: 1em .75em;
}
.driveoff_list .driveoff_scores {
	margin: 1em 0;
}
.driveoff_list .driveoff_scores img {
	max-height: 3.5em;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
